.app-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #475569;
  width: 100%;
  margin-bottom: 10px;
}
.checkboxes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  max-width: 550px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  margin-left: 12px;
}
